.main {
  height: calc(100vh - 36px);
  overflow-y: scroll;
  width: calc(100vw - 4px);
}

.home {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 8px 8px;
  height: 100%;
}

.home > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home span {
  user-select: none;
  font-size: 164px;
  text-align: center;
  width: 100%;
}

.home span.thin {
  font-weight: 100;
}

.home span.light {
  font-weight: 300;
}

.home span.medium {
  font-weight: 500;
}

.home span.bold {
  font-weight: 700;
}

.home span.black {
  font-weight: 900;
}

.N {
    grid-column-start: 1;
    grid-row-start: 2;
}

.I {
    grid-column-start: 2;
    grid-row-start: 2;
}

.C {
    grid-column-start: 3;
    grid-row-start: 2;
}

.K {
    grid-column-start: 2;
    grid-row-start: 3;
}

.P {
    grid-column-start: 3;
    grid-row-start: 3;
}

.R {
    grid-column-start: 4;
    grid-row-start: 3;
}

.U {
    grid-column-start: 5;
    grid-row-start: 3;
}

.I-2 {
    grid-column-start: 4;
    grid-row-start: 4;
}

.T {
    grid-column-start: 5;
    grid-row-start: 4;
}

.T-2 {
    grid-column-start: 6;
    grid-row-start: 4;
}

.default {
  display: grid;
  grid-template-columns: minmax(16px, 128px) minmax(40ch, 65ch) minmax(16px, 1fr);
}

.text {
  line-height: 1.5;
}

.work-list {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.work-list__item {
  padding: 8px;
  width: 25%;
}

.work-list__item a {
  background-color: #efefef;
  display: block;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}
