html {
    background-color: #121921;
    padding: 2px;
}

body {
    background-color: #fff;
    border-radius: 6px;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

nav {
    display: flex;
    height: 32px;
    padding-right: 32px;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul > li {
    list-style: none;
    margin-left: 16px;
    text-align: right;
}

nav a {
    display: block;

}
